@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
body{
	font-family: 'Nunito', sans-serif;
}
.box{

	background-color:white;
	margin:10px;
	border:2px solid #C0C0C0;
	border-radius:10px;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prntdiv{
	display:flex;
	justify-content:center;
	background-color:#daeff8;
	padding-top:10px;
	padding-bottom:10px;
}
.food{
	height:300px;
	width:300px;
		border-radius:10px;
		
}
h4,h5,.fa-clock{
	padding-left:10px;
}
.clock{
	display:flex;
	
	align-items:center;
}
.fa-clock{
	margin-right:10px;
}